.have-input-box-tr td{
    vertical-align:middle;
}

.icon_ok{
    background-image: url(../img/icon_ok.png);
    height:32px;
    width:32px;
    display:block;
    background-repeat: no-repeat;
    visibility:hidden;
}

.icon_error{
    background-image: url(../img/icon_error.png);
    height:32px;
    width:32px;
    display:block;
    background-repeat: no-repeat;
    visibility:hidden;
}